1) Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [2]:
a = [2,3,4,5,6,7]
a.append("mango")
a.extend(["banana","grapes","oranges"])
a.insert(4, "apple")
a.pop()
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

2) L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [3]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

3) Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [4]:
L = [4,5,6,8,3]
for i in range(len(L) // 2):
    L[i], L[len(L) - i - 1] = L[len(L) - i - 1], L[i]
L

[3, 8, 6, 5, 4]

4) Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [5]:
L = [2,4,7,3,6,8]
squared_L = [x**2 for x in L]
squared_L

[4, 16, 49, 9, 36, 64]

5) Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [6]:
def sum_tuple(t):
    return sum(t)
t = (1,2,3,4,5)
total = sum_tuple(t)
total

15

6) Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [7]:
s1 = {"apple","banana","cherry"}
s2 = {"orange","kiwi","pear"}
s3 = s1.union(s2)
s3

{'apple', 'banana', 'cherry', 'kiwi', 'orange', 'pear'}

7) Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [8]:
word_set = {'hello', 'world', 'python', 'programming'}
word_set.add('computer')
word_set

{'computer', 'hello', 'programming', 'python', 'world'}

8) Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [10]:
animals_set = {'dog', 'cat', 'elephant', 'lion', 'giraffe'}
animals_set.remove("lion")
animals_set

{'cat', 'dog', 'elephant', 'giraffe'}

9) favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [11]:
favorite_books = {"1984","To Kill a Mockingbird","Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather","The Dark Knight"]
favorite = list(zip(favorite_books, favorite_movies))
favorite

[('1984', 'The Shawshank Redemption'),
 ('Pride and Prejudice', 'The Godfather'),
 ('To Kill a Mockingbird', 'The Dark Knight')]

10) Write a Python program to find the difference between consecutive numbers in a list.

Solutions:

Data Science Masters

# Exercise 6
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)
print(combined_fruits)
# Exercise 7
words = {"hello", "world", "python"}
words.add("programming")
print(words)

Data Science Masters

# Exercise 8
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("cat")
print(animals)
# Solution 9
book_movie_pairs = list(zip(favorite_books, favorite_movies))
print(book_movie_pairs)
# Solutions 10
def find_diff_consecutive_numbers(lst):
diffs = []
for i in range(1, len(lst)):
diff = lst[i] - lst[i-1]
diffs.append(diff)
return diffs
# example usage
my_list = [5, 9, 12, 18, 22]
diffs = find_diff_consecutive_numbers(my_list)
print(diffs) # Output: [4, 3, 6, 4]

In [13]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2)
combined_fruits

{'apple', 'banana', 'grape', 'kiwi', 'orange', 'pear'}

In [14]:
words = {"hello", "world", "python"}
words.add("programming")
words

{'hello', 'programming', 'python', 'world'}

In [15]:
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("cat")
animals

{'dog', 'hamster', 'parrot'}

In [18]:
def find_diff_consecutive_numbers(lst):
    diffs = []
    for i in range(1, len(lst)):
        diff = lst[i] - lst[i-1]
        diffs.append(diff)
    return diffs

In [19]:
my_list = [5, 9, 12, 18, 22]
diffs = find_diff_consecutive_numbers(my_list)
diffs

[4, 3, 6, 4]