1) Create a class called "Person" with properties for "name", "age", and "gender". Create an object of this
class and print out its properties.

In [1]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

person1 = Person("Alice", 25, "female")

print("Name:", person1.name)
print("Age:", person1.age)
print("Gender:", person1.gender)

Name: Alice
Age: 25
Gender: female

2) Write a Python class called "Rectangle" with attributes for "width" and "height". Implement methods
to calculate the area and perimeter of the rectangle. Create an instance of this class and use it to print out
the rectangle's area and perimeter.

In [1]:
class Rectangle:
    def __init__(self,width,height):
        self.width = width
        self.height = height
    def area(self):
        return self.width * self.height
    def perimeter(self):
        return 2*(self.width + self.height)

In [5]:
rectangle = Rectangle(5,7)
print(rectangle.area())
rectangle.perimeter()

35

24

3) Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate".
Implement methods to deposit and withdraw money from the account, as well as to calculate the interest
earned on the balance based on the interest rate. Create an instance of this class and use it to test out the
implemented methods for deposit, withdrawal, and interest calculation.

In [6]:
class BankAccount:
    def __init__(self,balance,intrest_rate):
        self.balance = balance
        self.intrest_rate = intrest_rate
    def deposit(self,amount):
        self.balance += amount
    def withdraw(self,amount):
        if self.balance > amount:
            self.balance -= amount
        else:
            print("Insufficient funds")
    def calculate_intrest(self):
        return self.balance *(self.intrest_rate /100)

In [7]:
account = BankAccount(1000,5)

In [8]:
account.deposit(2000)

In [10]:
account.balance

3000

In [11]:
account.withdraw(500)

In [12]:
account.balance

2500

In [13]:
account.calculate_intrest()

125.0

4) Write a Python class called "Animal" with attributes for "name" and "species". Create a subclass of
"Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes with
appropriate methods and constructors to initialise their properties. Create instances of both classes and
use them to print out the various properties of the animals and dogs, such as their names, species,
breeds, and owners.

In [22]:
class Animal:
    def __init__(self,name,species):
        self.name = name
        self.species = species
    def get_name(self):
        return self.name

    def get_species(self):
        return self.species
class Dog(Animal):
    def __init__(self, name, species,breed, owner):
        super().__init__(name,species)
        self.breed = breed
        self.owner = owner
    def get_breed(self):
        return self.breed
    def get_owner(self):
        return self.owner

In [23]:
animal = Animal("Lion","Panthera leo")
print(animal.get_name())
animal.get_species()

Lion

'Panthera leo'

In [24]:
dog = Dog("Max", "Canis lupus familiaris", "Labrador Retriever", "John")

In [25]:
dog.get_name()

'Max'

In [27]:
dog.get_breed()

'Labrador Retriever'

5) Create a class called "Car" with properties for "make", "model", and "year". Create a subclass of "Car"
called "ElectricCar" with additional properties for "battery_size" and "range". Create objects of both
classes and print out their properties.

In [28]:
class Car:
    def __init__(self,make,model,year):
        self.make= make
        self.model = model
        self.year = year
class ElectricCar(Car):
    def __init__(self,make,model,year,battery_size,range):
        super().__init__(make,model,year)
        self.battery_size = battery_size
        self.range =range

In [29]:
car1 = Car("Toyato","Corolla",2021)
car1.make

'Toyato'

In [30]:
car1.model

'Corolla'

In [31]:
car1.year

2021

In [32]:
car2 = ElectricCar("Tesla", "Model S", 2022, 100, 400)

In [33]:
car2.year

2022

In [34]:
car2.make

'Tesla'

In [35]:
car2.battery_size

100

6) Create a class called "Student" with properties for "name" and "id". Create a subclass of "Student"
called "GraduateStudent" with additional properties for "advisor" and "research_area". Create objects of
both classes and print out their properties.

In [44]:
class Student:
    def __init__(self,name,id):
        self.name = name
        self.id = id
class GraduateStudent(Student):
    def __init__(self,name,id,advisor,research_rate):
        super().__init__(name,id)
        self.advisor = advisor
        self.intrest_rate = research_rate

In [45]:
student1 = Student("Srinu",11704926)
student1.name

'Srinu'

In [46]:
student1.id

11704926

In [47]:
student2 = GraduateStudent("Naveen",11704912,"ravi","80%")
student2.name

'Naveen'

7) Create a class called "Shape" with methods to calculate the area and perimeter of the shape. Create
subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for calculating area
and perimeter. Create objects of each class and print out their area and perimeter.

In [48]:
import math
class Shape:
    def area(self):
        pass
    def perimeter(self):
        pass
class Rectangle(Shape):
    def __init__(self,length,width):
        self.length = length
        self.width = width
    def area(self):
        return self.length * self.width
    def perimeter(self):
        return 2*(self.width + self.length)
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    
    def area(self):
        return math.pi * self.radius ** 2
    
    def perimeter(self):
        return 2 * math.pi * self.radius

class Triangle(Shape):
    def __init__(self, base, height, side1, side2, side3):
        self.base = base
        self.height = height
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3
    
    def area(self):
        return 0.5 * self.base * self.height
    def perimeter(self):
        return self.side1 + self.side2 + self.side3

In [49]:
rectangle1 = Rectangle(5,7)

In [51]:
rectangle.area()

35

In [52]:
rectangle.perimeter()

24

In [53]:
circle1 = Circle(3)

In [54]:
circle1.area()

28.274333882308138

In [55]:
circle1.perimeter()

18.84955592153876

In [56]:
triangle1 = Triangle(4,5,3,4,5)

In [58]:
triangle1.area()

10.0

8) Create a class called "Employee" with properties for "name", "id", and "salary". Add methods to give
the employee a raise and to calculate their annual salary. Create objects of this class and test out the
methods.

In [59]:
class Employee:
    def __init__(self,name,id,salary):
        self.name = name
        self.id = id
        self.salary = salary
    def give_raise(self, amount):
        self.salary +=amount
    def annual_salary(self):
        return self.salary*12

In [60]:
emp1 = Employee("Srinu",11704926,50000)

In [61]:
emp1.salary

50000

In [62]:
emp1.give_raise(10000)

In [63]:
emp1.salary

60000

In [65]:
emp1.annual_salary()

720000

9) Create a class called "Book" with properties for "title", "author", and "publisher". Create a subclass of
"Book" called "Ebook" with additional properties for "file_format" and "file_size". Create objects of both
classes and print out their properties.

In [70]:
class Book:
    def __init__(self,title,author,publisher):
        self.title = title
        self.author = author
        self.publisher = publisher
class Ebook(Book):
    def __init__(self,title,author,publisher,file_format,file_size):
        super().__init__(title,author,publisher)
        self.file_format = file_format
        self.file_size = file_size

In [67]:
book1 = Book("Data_Science","Srinu","Ramo")
book1.title

'Data_Science'

In [68]:
book1.author

'Srinu'

In [71]:
book2 = Ebook("Dat_Science","Srinu","Ramo","free.py","324kb")

In [73]:
book2.title

'Dat_Science'

10) Create a class called "Bank" with properties for "name" and "accounts". Add methods to create new
accounts, deposit and withdraw money from accounts, and to calculate the total balance of all accounts.
Create an object of this class and test out the methods.

In [74]:
class Bank:
    def __init__(self,name):
        self.name = name
        self.accounts = {}
    def create_account(self, account_number, initial_balance=0):
        if account_number not in self.accounts:
            self.accounts[account_number] = initial_balance
        else:
            print("Account already exists")

    def deposit(self, account_number, amount):
        if account_number in self.accounts:
            self.accounts[account_number] += amount
        else:
            print("Account does not exist")

    def withdraw(self, account_number, amount):
        if account_number in self.accounts:
            if self.accounts[account_number] >= amount:
                self.accounts[account_number] -= amount
            else:
                print("Insufficient balance")
        else:
            print("Account does not exist")

    def total_balance(self):
        return sum(self.accounts.values())

In [75]:
my_bank = Bank("My Bank")

my_bank.create_account("123456", 1000)
my_bank.create_account("789012", 500)

my_bank.deposit("123456", 500)
my_bank.withdraw("789012", 200)

In [77]:
my_bank.total_balance()

1800